body.login {
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url(http://farm8.staticflickr.com/7116/7057136685_16caead230_h.jpg) center center no-repeat;
}
.login label {
	color: rgba(255, 255, 255, 0.54);
	font-size: 16px;
}
.login form {
	background: none;
	border: 0;
	box-shadow: none;
}
#login h1,#nav,#backtoblog {display: none;}
#wp-submit {
display: inline-block;
}

